<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><TMPL_VAR TITLE> - Aegisub Manual</title>
        <link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
        <TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
    </head>
    <body>
        <div id="globalWrapper">
            <div id="column-content">
                <div id="content">

                    <a name="top" id="contentTop"></a>
                    <h1 id="title">
                        <TMPL_LOOP NAME="PARENTLINKS"><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a> / </TMPL_LOOP>
                        <TMPL_VAR TITLE>
                    </h1>

                    <div id="bodyContent">
                        <div id="contentSub"></div>
                        <TMPL_VAR CONTENT>
                        <div class="visualClear"></div>
                    </div>
                </div>
            </div>

            <TMPL_IF SIDEBAR>
            <div id="sidebar">
                <TMPL_VAR SIDEBAR>
            </div>
            </TMPL_IF>
        </div>

        <div id="footer" class="pagefooter">
            <div id="pageinfo">

                <TMPL_IF NAME="TAGS">
                <div class="tags">
                    Tags:
                    <TMPL_LOOP NAME="TAGS">
                    <TMPL_VAR LINK>
                    </TMPL_LOOP>
                </div>
                </TMPL_IF>

                <TMPL_IF NAME="BACKLINKS">
                <div id="backlinks">
                    Links:
                    <TMPL_LOOP NAME="BACKLINKS">
                    <a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
                    </TMPL_LOOP>
                    <TMPL_IF NAME="MORE_BACKLINKS">
                    <span class="popup">...
                        <span class="balloon">
                            <TMPL_LOOP NAME="MORE_BACKLINKS">
                            <a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
                            </TMPL_LOOP>
                        </span>
                    </span>
                    </TMPL_IF>
                </div><!-- #backlinks -->
                </TMPL_IF>

                <TMPL_IF COPYRIGHT>
                <div class="pagecopyright">
                    <a name="pagecopyright"></a>
                    <TMPL_VAR COPYRIGHT>
                </div>
                </TMPL_IF>

                <div class="pagedate">
                    Last edited <TMPL_VAR MTIME>
                    <!-- Created <TMPL_VAR CTIME> -->
                </div>

            </div><!-- #pageinfo -->
        </div><!-- .pagefooter #footer -->
    </div>
</body>
</html>
